doctype html
html
  head
    title Sala Attesa
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();
  body
    block content
    div.column-left 
      p.set Username
      p.username #{user}
      form(action="/" method="GET")
        script.
          function hideTimeDiv(){
            document.getElementById('tempo').style.display ='none';}
        script.
          function showTimeDiv(){
            document.getElementById('tempo').style.display = 'block';}
        div(id="modalita")
          p.set Modialità
          input(type="radio", name="modalita" checked=modalita=="normal" onclick='hideTimeDiv()' value="Normale" style="margin: 8px")
          | Normale
          input(type="radio", name="modalita" checked=modalita=="time" onclick='showTimeDiv()' value="Tempo" style="margin: 8px")
          | Tempo
        br
        div(id="tempo" style="display: none;")
          p Tempo partita
          input(type="text" placeholder="Minuti")
        br
        div(id="difficolta")
          p.set Difficoltà
          input(type="radio", name="difficolta" checked=modalita=="easy" value="easy" style="margin: 8px")
          | Facile
          input(type="radio", name="difficolta" checked=modalita=="noraml" value="normal" style="margin: 8px")
          | Normale
          input(type="radio", name="difficolta" checked=modalita=="hard" value="hard" style="margin: 8px")
          | Hard
        br
        button(type="submit" name="home_button" value="cp" class="btn btn-primary" style="margin:5px") Gioca
    div.auto
      h1 utente



